{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <div class="container">
        <h1>Registration</h1>
        
       
        
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.username) }}
            {{ form_row(form.password) }}
            {{ form_row(form.birthdate) }}
            {{ form_row(form.gender) }}
            {{ form_row(form.orientation) }}
            {{ form_row(form.bio) }}
            {{form_row(form.picture)}}
            {{ form_row(form.save) }}
        {{ form_end(form) }}
        <button type="submit"><a href="{{ path('login') }}">Se connecter</a></button>
    </div>
{% endblock %}