{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>



    
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}

    {{ form_end(form) }}

    <p>Pas encore de compte ? <a href="{{ path('registration') }}">Inscrivez-vous ici</a></p>
{% endblock %}
